@use "../../sass/variables";

.teamtwo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: rightToLeft 1s ease-in-out;

  @media only screen and (max-width: 1100px) {
    align-items: center;
  }

  img {
    width: 50px;
    border: 4px solid variables.$background-color;
    border-radius: 6px;
  }

  h1 {
    margin: 0;
    margin-top: 10px;
  }

  .teamName {
    display: flex;
    align-items: center;
    margin-top: 10px;

    h1 {
      margin: 0;
    }

    img {
      border: none;
      width: 40px;
      margin-right: 8px;
    }

    #teamh1 {
      font-weight: 500;
    }
  }

  #teamPoints {
    font-weight: 700;
    font-size: 45px;
  }
}
